/*     MEDIA QUERY  ????  SIDEBAR  ????    */
@media screen and (max-width: 1200px){
    .container {
        width: 95%;
        grid-template-columns:7rem auto 23rem ;
    }
    aside logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 5.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
}


@media screen and (max-width: 768px){
    .container {
        width: 100%;
        grid-template-columns:7rem auto 23rem ;
    }
    aside {
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        display: none;
    }
    aside .logo {
        margin-left: 1rem;
    }
    aside .logo h2 {
        display: inline;
    }
    aside .sidebar h3 {
        display: inline;
    }
    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }
    aside .close {
        display: inline-block;
        cursor: pointer;
    }
}

/*     MEDIA QUERY  ????  MAIN  ????    */
@media screen and (max-width: 1200px){

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        margin: 2rem 0 0 23.8rem;
    }
    main .recent-orders table {
        width: 83vw;
    }
    main table thead tr th:last-child,
    main table thead tr th:first-child{
       display: none;
    }
    
}
